@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

.tooltip-close-btn {
    left: 96%;
    top: 2%;
    position: relative;
}

.tooltip {
    position: fixed;
    width: 40%;
}

.tooltip-top {
    top: 4%;
}

.tooltip-bottom {
    bottom: 4%;
}

.tooltip-left {
    left: 4%;
}

.tooltip-right {
    right: 4%;
}

.tooltip-center {
    right: 30%;
}

.tooltip-widget {
    font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.tooltip-item {
    position: relative;
    margin: 0 0 5% 0;
    opacity: 0.85;
    filter: alpha(opacity=85);
}

.tooltip-item-content {
    display: block;
    padding: 5% 7%;
}

.tooltip-message {
    padding: 0 0 5px 0;
    width: 80%;
    float: right;
}

.tooltip-title {
    font-weight: bold;
    padding: 0 0 7px 0;
    display: block;
}

.tooltip-success {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-color: rgb(88, 206, 58);
}

.tooltip-info {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-color: rgb(40, 144, 214);
}

.tooltip-warning {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-color: rgb(222, 197, 22);
}

.tooltip-error {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-color: rgb(230, 53, 53);
}

.ui-helper-hidden {
    display: none;
}

.ui-shadow {
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
}

.ui-corner-all {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

@media only screen 
   and (min-width : 320px) {
    .tooltip-widget {
        font-size: 0.5rem;
    }
}

@media only screen 
   and (min-width : 768px) {
    .tooltip-widget {
        font-size: 0.8rem;
    }

}

@media only screen 
   and (min-width : 1200px) {
    .tooltip-widget {
        font-size: 1rem;
    }

    .tooltip {
        right: 1%;
        width: 25%;
    }

    .tooltip-item-content {
        padding: 2% 2%;
    }
}

@media only screen 
   and (min-width : 1600px) {
}